$theme: #061178;

$red: #f5222d;
$dustRed: #eea886;
$lightRed: #fff1f0;

$orange: #fa8c16;
$warning: #eace39;

$green: #237804;
$darkGreen: #52c41a;
$success: #6b9e34;
$lightGreen: #b7eb8f;
$polarGreen: #f6ffed;

$skyBlueDark: #1890ff;
$blue: #40a9ff;
$skyBlueLight: #e6f7ff;

$dark: #2f2e41;
$grey-8: #595959;
$grey: #d8d8d8;
$grey-5: #d9d9d9;
$black: #000000;

$white: #ffffff;
$placeholder: #bfbfbf;


$borderRadius: 4px;