@use '../../../../styles/colors.module.scss';
@use '../../../../styles/mixins/text.module';
@use '../../../../styles/mixins/button.module';
@import '~bootstrap/scss/mixins/_breakpoints';

.featuredFormlabel {
  font-weight: bold;
}

.signInBtn,
.signInBtn:hover,
.signInBtn:focus {
  background-color: red;
  border: 0px solid colors.$theme;
  color: colors.$white;
  margin-left: 35%;
}

.deleteProfileModalContainer {
  :global .modal-dialog {
    .modal-content {
      min-height: 500px;
      .header {
        padding: 25px;
        .heading {
          font-weight: 400;
          font-size: 38px;
          line-height: 46px;
          color: colors.$black;
          margin-top: 60px;
        }
        .cancelBtn {
          position: absolute;
          right: 25px;
          top: 25px;
          cursor: pointer;
        }
        .circle {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .content {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 5px;
        span.time {
          color: colors.$red;
        }
      }
      .ok-btn, .ok-btn:active, .ok-btn:hover {
        height: 60px;
        background-color: #061178;
        border: 1px solid #061178;
        border-radius: 4px;
        color: #fff;
        padding: 0 50px;
        margin: 25px 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .deleteProfileModalContainer {
    :global .modal-dialog {
      .modal-content {
        .header {
          padding: 15px;
        }
      }
    }
  }
}
